/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Open Sans Regular';
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url(assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

body {
    font-family: 'Open Sans Regular';
}